/*
    Andor Saga
*/

code {
    display: inline-block;
    font-size: 1.25em;
    font-family: monospace;
}

#questions {
    margin: 0 20px;
}

.questionID {
    margin: -10px;
    font-size: 8px;
    font-weight: bold;
}

.tags {
    font-family: monospace;
    font-size: 10px;
}

.seeAlso {
    font-family: monospace;
    font-size: 10px;
    color: blue;
}

.code {
    font-family: monospace;
    font-weight: 800;
}

.qContainer {
    background-color: #ddd;
    margin-bottom: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid grey;
}

.question {
    font-size: 1.5em;
}

.show {
    color: blue;
    cursor: pointer;
}

.CodeMirror,
.CodeMirror .cm-s-default {
    height: auto !important;
}